# Ignore my configuration file
/monster/my_config.yml
./README.rst

# Ignore folders
/env
/dist
/MonSter.egg-info

# Byte-compiled / optimized
__pycache__/
/monster/__pycache__

# Sphinx documentation
/docs