# Ignore my configuration file
monster/config.yml
monster/my_config.yml

./README.rst
/monster/token.json
/monster/*test.py
/monster/*.log

# Ignore folders
/env
/dist
/log
/MonSter.egg-info

# Byte-compiled / optimized
__pycache__/
/monster/__pycache__

# Sphinx documentation
# /docs
