# TimeScaleDB Configuration
timescaledb: 
  host: 0.0.0.0
  port: 5432
  database: h100

# Partition in cluster
partition: h100

# iDRAC Configuration
idrac:
  model: push
  nodelist:
    - 10.101.93.[1-8]

# Slurm REST API Configuration
slurm_rest_api:
  ip: nuetu
  port: 6820
  user: username
  headnode: repacss
  slurm_jobs: /slurm/v0.0.42/jobs/ # Access via /openapi/v3 to get the valid api version
  slurm_nodes: /slurm/v0.0.42/nodes/
  openapi: /openapi/v3

# FastAPI Metrics Mapping
# Keys are the metric parameters used in the Metrics Builder API
# Values are the table names in TimeScaleDB.
fastapi:
  idrac:
    GPU_Usage: gpuusage
    GPU_PowerConsumption: powerconsumption
    GPU_MemoryUsage: gpumemoryusage
    GPU_Temperature: temperaturereading
    CPU_Usage: cpuusage
    CPU_PowerConsumption: cpupower
    CPU_Temperature: temperaturereading
    DRAM_Usage: memoryusage
    DRAM_PowerConsumption: drampwr
    # DRAM_Temperature: memorytemperature
    System_PowerConsumption: systempowerconsumption
  slurm:
    Jobs_Info: jobs
    NodeJobs_Correlation: node_jobs
    Nodes_State: state
    # MemoryUsage: memoryusage
  ip: 0.0.0.0
  port: 5000

# Frontend Configuration
frontend:
  urls: 
    - https://frontend.github.io

