# TimeScaleDB Configuration
timescaledb: 
  host: 0.0.0.0
  port: 5432
  database: database

# Partition in cluster
partition: partition

# iDRAC Configuration, model is either 13G or 15G
idrac:
  model: 13G
  nodelist:
    - 10.101.1.[1-60]
    - 10.101.2.[1-60]
    - 10.101.3.[1-60]
    - 10.101.4.[1-60]
  api:
    thermal: /redfish/v1/Chassis/System.Embedded.1/Thermal/
    power: /redfish/v1/Chassis/System.Embedded.1/Power/
  metrics:
    - Fans
    - Temperatures
    - PowerControl

# Slurm REST API Configuration
slurm_rest_api:
  ip: 10.100.1.1
  port: 6820
  user: monster
  headnode: login.headnode
  slurm_jobs: /slurm/v0.0.38/jobs/
  slurm_nodes: /slurm/v0.0.38/nodes/
  openapi: /openapi/v3

# OpenAPI Metrics Mapping
# Keys are the metric parameters used in the Metrics Builder API
# Values are the table names in TimeScaleDB.
openapi:
  idrac:
    CPUUsage: cpuusage
    CPUPower: totalcpupower
    Fan: rpmreading
    MemoryPower: totalmemorypower
    SystemPower: systempowerconsumption
    Temperature: temperaturereading
  slurm:
    JobsInfo: jobs
    MemoryUsage: memoryusage
    NodeJobsCorrelation: node_jobs
    NodesState: state

# The following configuration is for idrac 15G that uses the push model
#idrac:
#  model: 15G
#  nodelist:
#    - 10.101.23.[1-60]
#    - 10.101.24.[1-60]
#    - 10.101.25.[1-60]
#    - 10.101.26.[1-60]